body{
    background: rgb(0,55,58);
    background: linear-gradient(0deg, rgba(0,55,58,1) 100%, rgba(0,27,29,1) 0%);
    font-family: 'Open Sans', sans-serif;
    display: flex;
}
strong{
    font-weight: bold;
    color: #68f7d8;
}
input{
    padding: .5rem 1rem;
    line-height: 28px;
    width: 96%;
    border-radius: 20px;
    background: #ffffff54;
    font-size: 20px;
    color: white;
    margin-bottom: 1rem;
}
input:focus{
    outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #bebebe;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #bebebe;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #bebebe;
}
.conteudo{
    width: 100%;
    margin-top: 5rem;
}

.carro_card {
    width: 90%;
    margin: auto;
    border: solid 1px #44b7a4;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.15);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.15);
}
.carro_info{
    width: 70%;
    display: flow-root;
    color: white;
    font-size: 20px;
}
.top_info{
    width: 100%;
    display: flex;
}
.bottom_info{
    width: 100%;
    display: flex;
    color: white !important;
}
.dark_font{
    color: #4b7a7a!important;
}
.white_font{
    color: #d6d6d6 !important;
}
.carro_botoes{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}
.botao{
    padding: .5rem 1rem;
    border-radius: 10px;
    margin: auto .5rem;
    cursor: pointer;
}
.deletar{
    color: white;
    background: rgb(247,137,110);
    background: linear-gradient(0deg, rgba(247,137,110,1) 0%, rgba(220,99,165,1) 100%);
    border: solid 1px rgba(247,137,110,1);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(247,137,110,0.8);
    box-shadow: 0px 0px 34px 0px rgba(247,137,110,0.8);
}
.deletar:active{
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
}
.editar{
    color: white;
    background: rgb(102, 154, 203);
    background: linear-gradient(0deg, rgb(98,240,206) 0%, rgb(102, 154, 203) 100%);
    border: solid 1px rgb(98,240,206);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(110,198,247,0.5);
    box-shadow: 0px 0px 34px 0px rgba(110,198,247,0.5);
}
.editar:active{
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
}
.novo{
    color: white;
    background: rgb(98,240,206);
    background: linear-gradient(0deg, rgba(98,240,206,1) 0%, rgba(18,138,152,1) 100%);
    border: solid 1px rgb(98, 240, 206);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.5);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.5);
}
.novo:active{
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
}
.td{
    width: 50%;
    height: 3rem;
}
.bd{
    height: 2rem;
}
.width_40{
    width: 40%;
}
.navBar{
    width: 100%;
    height: 4rem;
    position: fixed;
    z-index: 900;
    display: flex;
    background: #222727;
    top: 0px;
    left: 0px;
    justify-content: space-between;

}
.logo{
    padding: 0rem 1rem;
    font-size: 3rem;
    font-weight: initial;
}
.novo_carro{
    margin: .5rem 3rem;
}
.mobile_show{
    display: none;
}
.botao_flutuante{
    height: 3rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: .5rem 1.5rem 1.5rem 1.5rem;
    font-size: 3rem;
    border-radius: 100%;
    color: white;
    background: rgb(98,240,206);
    background: linear-gradient(0deg, rgba(98,240,206,1) 0%, rgba(18,138,152,1) 100%);
    border: solid 1px rgb(98, 240, 206);
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.7);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.7);
}
.botao_flutuante:active{
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0);
}
.modal_deleta{
    display: none;
    position: fixed;
    width: 80%;
    height: 25rem;
    left: 10%;
    top: 20%;
    background: rgb(0,55,58);
    background: linear-gradient(0deg, rgba(0,55,58,1) 100%, rgba(0,27,29,1) 0%);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.15);
    box-shadow: 0px 0px 34px 0px rgba(98,240,206,0.15);
    border: solid 1px #44b7a4;
    z-index: 900;
}
.modal_footer{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}
.modal_header{
    font-size: 35px;
    padding: 2rem;
    text-align: center;
    color: #68f7d8;
}
.modal_body{
    padding: 2rem;
}
.fundo_modal{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,55,58, 0.7);
    z-index: 400;
}
.mostra_modal{
    display: block!important;
}
.modal_inputs{
    width: 100%;
    display: block;
}
.modal_inputs > div{
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .logo{
        width: 100%;
    }
    .mobile_hidden{
        display: none!important;
    }
    .mobile_show{
        display: block!important;
    }
    .carro_info{
        width: 100%;
    }
    .carro_card{
        display: flow-root;
    }
    .bottom_info {
        width: 100%;
        display: flow-root;
    }
    .width_40 {
        width: 100%;
    }
    .carro_botoes {
        width: 100%;
    }
    .modal_body {
        padding: .5rem 1rem;
    }
    .modal_deleta {
        width: 90%;
        left: 5%;
    }
    .conteudo{
        margin-bottom: 6rem;
    }
    input{
        width: 87%;
    }
}