
# Remove server signature
ServerSignature Off

# Default charset UTF-8
AddDefaultCharset UTF-8

# Secure the application folder (like config files)
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^application/(.*)$ /$1 [R=301,NC,L]
</IfModule>

# Redirect WWW to non-WWW
#<IfModule mod_rewrite.c>
#	RewriteEngine On
#	RewriteBase /
#	RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
#</IfModule>
	
# Redirect requests to index kernel
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

# Send error if mod_rewrite is disabled
<IfModule !mod_rewrite.c>
    ErrorDocument 404 /System/htaccess.php
</IfModule>
