.margin-top-20px{
    margin-top:20px;
}
.margin-bottom-20px{
    margin-bottom:20px;
}
.max-width-20rem{
    max-width: 20rem;
}
.card-text img.car-photo{
    width:97%;
    height:90%;
}
.color-white-definitive{
    color:white;
}
.color-white-definitive:hover{
    color:white;
}
.clear-both{
    clear:both;
}
#form_datagrid_cars
{
    background:#1A1A1A;
}
#form_datagrid_cars label
{
    color:white;
}
.display-none
{
    display:none;
}
.padding-top-20px{
    padding-top:20px;
}
.float-right{
    float:right;
}