@media (max-width: 992px){
    .box-logo img{
        width: 220px;
    }
}

@media (max-width: 576px){
    .box-logo img{
        width: 180px;
    }

    .col-marca {
        display: none;
    }

    .col-modelo {
        display: none;
    }

    .col-ano {
        display: none;
    }

}