/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env


/resources/framebase

composer.lock
bower.lock

/vendor
vendor/*

/bower_components
bower_components/*

/node_modules
node_modules/*

/resources/bower_components
resources/bower_components/*

app/Store/Cache/*
app/Store/Log/*.log

*nbproject
*buildpath
*project
*settings

# extensões proibidas no projeto
*.mno
*.lock
.idea/*
.phpintel/*
*.fuse*
*.zip
*.rar
*.tar.*
*.tgz
*.7z*
*.iso
*.exe
*.dll
*.mp3

