@media only screen and (max-width : 768px)  {
  .page__header{
    h1{margin:30px 0 0 0;}
  }
  // ####################
  .planSim{
    div[class*="planSim__"]{margin-top:15px;}
  }
  // ####################
  .needHelp{
    li{width:31%}
  }
}
@media only screen and (max-width : 425px)  {
  .page__header{
    h1{font:700 30px/30px $font-regular;margin:30px 0 0 0;}
    p{font:300 18px $font-regular;}
  }
  // ####################
  .needHelp{
    .needHelp__text{padding:30px 15px;}
    .needHelp__heading{font-size:30px}
    li{width:100%;margin-bottom:10px;}
  }
}
@media only screen and (max-width : 320px)  {
  .page__header{
    h1{font:700 25px/25px $font-regular;}
    p{font:300 14px $font-regular;}
  }
}
