/* @media (min-width: 1800px) {
  header {
    width: 1320px;
    margin: auto;
    text-align: center;
  }
  main {
    width: 1320px;
    margin: auto;
    text-align: center;
  }

  header nav a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
  }
}

@media (min-width: 1200px) {
  header {
    width: 1320px;
    margin: auto;
    text-align: center;
  }
  main {
    width: 1320px;
    margin: auto;
    text-align: center;
  }

  header nav a {
    color: #f9f9f9;
    text-decoration: none;
    font-weight: bold;
  }
} */
