<div id="editarModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Editar carro ({{ currentCar.modelo.value }})</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <p style="color: red;" v-if="currentCar.error">{{ currentCar.messages }}</p>

                    <p>
                        <label for="iptModelo">Modelo</label>
                        <input type="text" class="form-control" id="iptModelo" v-model="currentCar.modelo.value">
                    <p style="color: red;" v-if="currentCar.modelo.error">{{ currentCar.modelo.messages.join(' | ') }}</p>

                    <p>
                        <label for="iptMarca">Marca</label>
                        <input type="text" class="form-control" id="iptMarca" v-model="currentCar.marca.value">
                    <p style="color: red;" v-if="currentCar.marca.error">{{ currentCar.marca.messages.join(' | ') }}</p>

                    <p>
                        <label for="iptAno">Ano</label>
                        <input type="text" class="form-control" id="iptAno" v-model="currentCar.ano.value">
                    <p style="color: red;" v-if="currentCar.ano.error">{{ currentCar.ano.messages.join(' | ') }}</p>
                    </p>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click.prevent="editCar()">Editar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
