<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Carro</h1>
  <small class="text-muted">Cadastro de carros</small>
</div>

<div class="wrapper-md" ng-init="vm.init()">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <div class="panel panel-default">
                <div class="panel-heading font-bold">Registro</div>
                    <uib-tabset class="tab-container" active="active">
                    <uib-tab heading="Dados do carro" index="0">
  	                  <div class="panel-body">
			            <form name="formRuleBasic" class="form-validation form-horizontal">                

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Marca</label>
                                <div class="col-lg-7">
                                    <select class="form-control" ng-model="vm.carro.id_marca" required>
                                        <option value="">Selecione</option>
                                        <option ng-repeat="item in vm.marcas" value="{{item.id}}">{{item.marca}}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label">Modelo</label>
                                <div class="col-lg-7">
                                    <input type="text" class="form-control" ng-model="vm.carro.modelo" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-2 control-label"></label>
                                <div class="col-lg-8">
                                    <button type="submit" class="btn m-b-xs w-xs btn-primary" ng-click="vm.salvarBasic()" ng-disabled="formRuleBasic.$invalid">Salvar</button>
                                </div>
                            </div>
                        </form>
                    </div>
				   </uib-tab>
                    
                </div>
            </div>
        </div>
    </div>