	<!-- navbar header -->
	<div class="navbar-header {{app.settings.navbarHeaderColor}}">
		<button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
			<i class="glyphicon glyphicon-cog"></i>
		</button>
		<button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
			<i class="glyphicon glyphicon-align-justify"></i>
		</button>
		<!-- brand -->
		<a data-ui-sref="app.dashBoard" class="navbar-brand text-lt">
			<span class="hidden-folded m-l-xs h5" style="float:left; margin: 17px 0px 0px 10px; font-size:14px;">Fast-api Plataform </span>
		</a>
		<!-- / brand -->
	</div>
	<!-- / navbar header -->

	<!-- navbar collapse -->
	<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}" ng-controller="MenuCtrl as vm">
		<!-- buttons -->
		<div class="nav navbar-nav hidden-xs">
			<!-- See PNST-684
			<a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
				<i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
			</a>
			-->
		</div>
		<!-- / buttons -->

		
		<!-- / navbar right -->
	</div>
	<!-- / navbar collapse -->
