<html>
  <head>
    <title>Estadão Classificados</title>
    <meta charset="utf-8">
    <meta name="author" content="Diego Miranda">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="O maior classificado de carros do Brasil é no Estadão!">
    <link rel="shortcut icon" href="/statics/images/favicon.ico">
    <link rel="apple-touch-icon" href="/statics/images/apple-touch-icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/statics/css/style.css">
    <link rel="stylesheet" href="/statics/css/responsive.css">
  </head>
  <style>
    
  </style>
  <body>
    <div>
      <div>
        <div class="d-flex flex-column flex-md-row align-items-center bg-white box-shadow d-header">
          <h5 class="col-sm-6 my-0 mr-md-auto font-weight-normal"><img src="/statics/images/favicon.ico" alt=""> Estadão Classificados | Carros</h5>
          <nav class="my-2 my-md-0 mr-md-3 d-header-links">
            <a href="/" class="btn btn-primary">
              Voltar para home lista
            </a>
          </nav>
        </div>
      </div>
      <div>
        <div class="not-found" style="background-image: url('/statics/images/page-not-found.jpg')"></div>
      </div>
      <footer class="d-flex flex-column flex-md-row align-items-center bg-white border-top d-footer">
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="http://www.estadao.com.br/historico/index.htm">Grupo Estadão</a>
          <a class="p-2 text-dark" href="https://www.estadao.com.br/classificados/jornal-do-carro">Jornal do Carro</a>
          <a class="p-2 text-dark" href="https://www.estadao.com.br/classificados/emprego-carreiras">Emprego e Carreiras</a>
          <a class="p-2 text-dark" href="https://www.estadao.com.br/classificados/imoveis">Imóveis</a>
        </nav>
      </footer>
    </div>
  </body>
</html>